.on-off{
    position: relative;
    background-color: #b3b3b3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.5);
    padding: 10px 12px;
    cursor: pointer;

    div{
        font-weight: 700;
        color: #fff;
        
        div{
            width: 50%;
            text-align: center;
        }
    }
}

.on-off:before{
    content: '';
    background-color: #f3f3f3;
    position: absolute;
    top:10px;
    left:5%;
    width: 45%;
    height: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgb(102 102 102 / 80%);
    transition: 0.4s;
}

.on-off-active{
    background-color: #00d85b;

}

.on-off-active:before{
    left: 50%;
}