*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track{
    background-color: #f3f3f3;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #201a7a
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body{
    min-width: 320px;
    color: #201a7a;
    /* hover color #190ec5 */
}

a{
    color: #201a7a;
}

#root{
    position: relative;
    min-height: 100vh !important;
    background-color: #f3f3f3;
    overflow: hidden;
}

/* Forms */
.form-group{
    margin-bottom: 8px;

    label{
        font-weight: 500;
        margin-bottom: 8px;
    }
    input[type], select{
        font-weight: 500;
        color:#201a7a;
    }
    input[type]:focus, select:focus{
        color:#190ec5;
    }
    select option{
        font-weight: 500;
    }
}

/* Buttons */
.c-btn{
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 500;
    transition: .4s;
    cursor: pointer;

    i{
        position: relative;
        top: -2px;
    }
}

.c-btn-primary{
    background-color: #201a7a;
    color: #fff;
}

.c-btn-primary:hover{
    box-shadow: 0px 0px 5px 1px #201a7a5e;
}

.c-btn-danger{
    background-color: #7a1a1a;
    color: #fff;
}

.c-btn-danger:hover{
    box-shadow: 0px 0px 5px 1px #7a1a1a5e;
}

.c-btn-success{
    background-color: #1a7a2f;
    color: #fff;
}

.c-btn-success:hover{
    box-shadow: 0px 0px 5px 1px #1a7a2f5e;
}

.c-btn-info{
    background-color: #1a7a71;
    color: #fff;
}

.c-btn-info:hover{
    box-shadow: 0px 0px 5px 1px #1a7a715e;
}

/* Main collection */
.menu-content{
    height: 100vh;
}

.main-content{
    height: 100vh;
    width: 100%;
}

.main-section{
    overflow: scroll;
    height: 100vh;
}

/* Margins */
.mr-auto{
    margin-right: auto;
}

.ml-auto{
    margin-left: auto;
}

.mr-2{
    margin-right: .5rem;
}

.ml-2{
    margin-left: .5rem;
}

.mr-4{
    margin-right: 1rem;
}

.ml-4{
    margin-left: 1rem;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* Errors */
.c-error-block{
    margin: 60px auto;
    width: 50%;
    text-align: center;

    .c-error{
        font-weight: 700;
        font-size: 150px;
    }

    .c-error-msg{
        font-weight: 500;
        font-size: 1em;
    }
}

/* Pages */
.page-block{
    margin-top: 20px;
    margin-bottom: 60px;

    .page-head{

        .page-title{
            font-weight: 700;
            font-size: 1.4em;
        }
    }

    .page-content{
     
    }
}

.c-table{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.3);
    font-weight: 500;

    tr th{
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
        padding: 20px;
        background-color: #201a7a;
        color: #fff;
    }

    tr th:first-child{
        border-radius: 20px 0px 0px 0px;
    }

    tr th:last-child{
        border-radius: 0px 20px 0px 0px;
    }

    tr td{
        padding: 20px;
    }

    tr:nth-child(odd){
        td{
            background-color: #f9f9f9;
        }
    }

    tr:last-of-type{
        td:first-child{
            border-radius: 0px 0px 0px 20px;
        }

        td:last-child{
            border-radius: 0px 0px 20px 0px;
        }
    }
}

/* Modals */
.c-modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100%;
    background-color: #f3f3f380;
    transition: .4s;
    opacity: 1;

    .c-modal-window{
        background-color: #fff;
        width: 70%;
        margin: 20px auto;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.3);
    }
}

.c-modal-hide{
    opacity: 0;
    z-index: -1;
}

.c-notification{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
    overflow: hidden;
    width: 320px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    font-weight: 500;
    transition: .4s;
}

.c-notification:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-radius: 20px;
}

.c-notification-success{
    border: 1px solid #1a7a2f5e;
    box-shadow: 0px 0px 10px 0px #1a7a2f5e;
}

.c-notification-success:before{
    background-color: #1a7a2f;
}

.c-notification-danger{
    border: 1px solid #7a1a1a5e;
    box-shadow: 0px 0px 10px 0px #7a1a1a5e;
}

.c-notification-danger:before{
    background-color: #7a1a1a;
}

.c-notification-hide{
    right: -100%;
}

/* Forms */
.c-form{
    .c-form-head{
        padding: 20px;
        font-weight: 700;
        font-size: 1.1em;
        border-bottom: 1px solid #f3f3f35e;

    }

    .c-form-body{
        padding: 20px;
        height: 85vh;
        overflow: auto;
    }
}

.c-times{
    cursor: pointer;
}

.c-list{
    
    p{
        border-bottom: 1px solid #f3f3f3;
        margin-bottom: 5px;

        span{
            font-weight: 700;
        }
    }
}